<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-thumbnail"
        version="0.1.0">
    <name>ThumbCreatorPlugin</name>
    <description>Create a thumb from an image</description>
    <license>Apache 2.0</license>
    <keywords>cordova, thumbnail, resize</keywords>

    <js-module src="www/ThumbCreator.js" name="ThumbCreator">
        <clobbers target="ThumbCreator"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ThumbCreator">
                <param name="android-package" value="ThumbCreator"/>
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>
        </config-file>

        <source-file src="src/android/ThumbCreator.java" target-dir="src/"/>
    </platform>
</plugin>